
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
    <p>おはようございます。</p>
    <p>今日の天気は<%= @weather_detail %>です！</p>
    <p>気温は<%= @temp %>℃、湿度は<%= @humidity %>%です！</p>

  </body>
</html>
